<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contáctanos</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <header>
        <h1>Clínica Sonrisa Perfecta</h1>
        <nav>
            <a href="../index.html">Inicio</a>
            <a href="conocenos.html">Conocenos</a>
            <a href="contactanos.html">Contáctanos</a>
            <a href="solicitar-visita.html">Solicitar Visita</a>
        </nav>
    </header>

    <main id="contenedor-contactanos">
        <section id="contactanos">
            <h2>Contáctanos</h2>
            <p>Estamos aquí para ayudarte. Si tienes alguna pregunta o deseas agendar una cita, no dudes en contactarnos a través de los siguientes medios:</p>
            <ul>
                <li><a href="tel:+1234567890" class="boton">Teléfono: +1 234 567 890</a></li>
                <li><a href="mailto:contacto@clinicasonrisaperfecta.com" class="boton" target="_blank">Email: contacto@clinicasonrisaperfecta.com</a></li>
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2025 Clínica Sonrisa Perfecta. Todos los derechos reservados.</p>
    </footer>
</body>
</html>